.footer-area{
    display: flex;
    background-color: black;
    position: absolute;
    flex-direction: column;
align-items: flex-start;
height: 280px;
left: 0%;
right: 0%;
top: 2368px;
text-emphasis-color: white;
}

